*{
    padding: 0px;
    margin: 2px;
    padding-left:5px;
}

.col,.col-2,.col-1{
    border:1px solid black;
    
}

.image{
    padding-left:20px;
    height:100px;
}

.title{
    padding-top: 25px;
}

.body{
    padding-top: 5px;
}
button{
    height:40px;
    width:45px;
}

.form-outline{
    
    height:50px;
}
.input-group{
    padding-top: 6px;
}